@import "..//../variables.scss";

.cartSection {
  height:80vh;
  display: flex;
  flex-direction: column;

  & > div:last-child {
    margin-top: auto;
    text-align: right;

    & > div {
      display: flex;
      justify-content: space-between;
    }
  }
}

.cartSection button {
  width: 100%;
  height: 45px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffad4d;
  border: none;
  border-radius: 999px;
  box-shadow: 0px 1px 2px 9px rgba(198, 228, 246, 0.15);
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  outline-color: transparent;

  &:hover,
  &:focus {
    background-color: $hover-color;
  }

  &:focus {
    background-color: $focus-color;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  & > .picture {
    flex: 0.33;
    width: 128px;
    height: 128px;

    & > img {
      padding: 8px;
      height: 100%;
      object-fit: contain;
    }
  }

  & > .body {
    flex: 0.6;
    display: grid;

    & > p:nth-child(1) {
      font-size: 16px;
      font-weight: 700;
      font-family: 'Lato', sans-serif;
    }
    & > p:nth-child(2) {
      align-self: end;
    }

    & > .product_quantity {
      display: flex;
      align-items: center;
      width: 100px;
      align-self: end;
      justify-content: space-between;

      & > button {
        width: 32px;
        height: 32px;
      }
    }
  }

  & > .end {
    flex: 0.15;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px 0;

    & > svg {
      transform: scale(1.8);
    }

    & > * {
      padding:3px;
    }
  }
}

.bottom {
  border-top: 1px solid $outstock-btn;
}

.total {
  margin: 20px;

  & > p {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }
}

.cardPriceBox {
  display: flex;
  column-gap: 0.6rem;
  margin: 0.6rem 0 0rem 0;
}

.cardPrice {
  color: $text-color;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.33;
}

.cardPriceNot {
  color: #5f5f5f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: line-through;
  text-align: right;
}

.product_price_with_discount {
  color: $error-color;
}