@import "..//../variables.scss";

.spinner {
  height: fit-content;
  width: fit-content;
}

.wrapper {
  min-height: 36dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18dvh 0;
}
