@import "..//..//../variables.scss";

.header_cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title_cont {
  & h3 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 0.5rem;
  }

  & p {
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2rem;
    margin-bottom: 1.1rem;
  }
}

.navigation_cont {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & .cur_page {
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
