@import "..//..//../variables.scss";

.title {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}

.text {
  width: 56%;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.77;
}
