@import "../../../variables.scss";

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 680px;
}

.firstLine {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  margin: 40px 0 40px 0;
}

.form {
  display: flex;
  flex-wrap: wrap;

  & > div {
    &:nth-child(1),
    &:nth-child(3) {
      flex-basis: 40%;
      margin-right: 30px;
    }
    &:nth-child(2),
    &:nth-child(4) {
      flex-basis: 50%;
    }
    &:nth-child(5) {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 646px;
      justify-content: space-between;

      & > div {
        width: 340px;
      }

      & > ul {
        display: flex;
        gap: 10px;
        justify-content: space-around;
        width: 275px;

        & > li {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;
          border: 2px solid $main-color; 
        }

        &:hover {
          color: $hover-color;
        }

        & > li button {
          margin-right: 0;
        }
      }
    }
  }
}

.button {
  padding: 8px 8px;

  display: flex;
  justify-content: center;
  border: none;
  border-radius: 999px;

  margin-left: auto;
  margin-right: 50px;
  cursor: pointer;

  color: $main-color;
  background-color: transparent;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  outline-color: transparent;
}

.button:hover {
  color: $hover-color;
}
.button:focus {
  color: $focus-color;
}
