@import "../../../variables.scss";

.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  // width: 680px;
}

.formContainer {
  display: flex;
  gap: 20px; /* Расстояние между формами */
}

.firstLine {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  margin: 40px 0 40px 0;
}

.form {
  display: flex;
  flex-direction: column;

  & > div {
    margin-right: 30px;
  }
}

.button {
  padding: 8px 8px;

  display: flex;
  justify-content: center;
  border: none;
  border-radius: 999px;

  margin-left: auto;
  margin-right: 50px;
  cursor: pointer;

  color: $main-color;
  background-color: transparent;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;

  outline-color: transparent;
}

.button:hover {
  color: $hover-color;
}
.button:focus {
  color: $focus-color;
}
