@import "../../../src/variables";

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 6rem;
}
.table_head {
  font-size: 1.2rem;
  font-weight: 600;
  color: #767676;
}
.grid_container {
  display: grid;
  min-width: 600px;
  grid-template-columns: 6% 44% 14% 14% 22%;
  border-bottom: 1px solid $outstock-btn;
  max-height: 10rem;
  padding: 1rem 0;

  & * {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h3 {
    padding: 2rem 0;
    font-weight: 600;
    line-height: 48px;
    font-size: 2.25rem;
    color: #404040;
  }
}
.btn,
.not_avaible_btn {
  margin: 3rem 0;
  width: 30%;
  padding: 1.2rem 2rem;
  color: $btn-text;
  font-size: 1.3rem;
  border: none;
  border-radius: 999px;
}

.btn {
  background-color: $main-color;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}

.not_avaible_btn {
  background-color: $outstock-btn;

  &:hover {
    cursor: not-allowed;
  }
}

.align_center {
  align-self: center;
  justify-self: center;
}
