@import "..//..//..//../variables.scss";

.firstLine {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  margin: 40px 0 40px 0;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;

  & > div {
    position: relative;
    width: 180px;

    & > label {
      display: block;
      margin-bottom: 40px;
      cursor: pointer;
      border: 1px solid lightgray;
      border-radius: 8px;
      width: 170px;
      text-align: -webkit-center;
      position: relative;

      & > img, svg {
        object-fit: contain;
        height: 100px;
      }
      & > svg {
        transform: scale(2.5);
      }
    }

    & > .delete {
      position: absolute;
      background-color: #fff;
      bottom: 30px;
      right: 0px;
      cursor: pointer;
      transform: scale(1.5);

      &:hover {
        border-color: $hover-color;
        background-color: $outstock-btn;
      }
    }

    & > button {
      margin-left: 15px;
      padding: 6px 10px;
      border-radius: 8px;
      border-color: $main-color;
      cursor: pointer;
    }
    & > input {
      width: 120px;
      border: 1px solid #a3a3a3;
      padding: 6px 10px;
      border-radius: 8px;
    }
  }

  & > h3 {
    margin-bottom: 20px;
  }

  /* ... (остальные стили) */
}

// .content {
//   display: flex;
//   flex-direction: column;

//   & > div {
//     & > label {
//       margin-bottom: 40px;
//       cursor:pointer;
//       border: 1px solid lightgray;
//       border-radius: 8px;
//       width: 170px;
//       text-align: -webkit-center;
//       position: relative;
  
//       & > img,svg {
//         object-fit: contain;
//         height: 100px;
//       }
//       & > svg {
//         transform:scale(2.5)
//       }
//     }
//   }

//   & > h3 {
//     margin-bottom: 20px;
//   }

//   & > div {
//     display: flex;
//     min-width: 180px;

    
//   }
// }

.delete {
  position: absolute;
  padding: 3px 5px 0;
  border-radius: 10px;
  transform: scale(1.3);

  &:hover {
    border-color: $hover-color;
    background-color: $outstock-btn;
  }
}