@import "../../../src/variables";
.button {
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  min-width: fit-content;
  height: fit-content;
  border: none;
  background-color: $main-color;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.14;
  cursor: pointer;
  outline-color: transparent;
  text-align: center;
  font-family: "Lato";
  &:hover {
    border-color: $hover-color;
    background-color: $hover-color;
  }
}

.btnDisabled {
  background-color: $outstock-btn;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  min-width: fit-content;
  height: fit-content;
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: 1.14;
  cursor: not-allowed;
  outline-color: transparent;
  text-align: center;
  font-family: "Lato";
}
