@import "../../../src/variables";
.button {
  padding: 14px 22px;
  border-radius: 999px;
  border: none;
  background-color: $main-color;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.14;
  cursor: pointer;
  outline-color: transparent;
  text-align: center;
  font-family: "Lato";
  &:hover {
    border-color: $hover-color;
    background-color: $hover-color;
  }
}

.btnDisabled {
  background-color: $outstock-btn;
  padding: 14px 23px;
  border-radius: 999px;
  border-color: transparent;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-family: "Lato";
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  outline-color: transparent;
}
